<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://kit.fontawesome.com/e1e0fcd7db.js"
      crossorigin="anonymous"
    ></script>
    <title>短網址產生器</title>
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener!</h1>
      <img
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="url-shortener-icon"
        class="icon"
      />
      {{{body}}}
    </div>

    <script src="/javascript/copy.js"></script>
  </body>
</html>